@import 'colors.scss';

.button {
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 5px;
    background: none;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: background-color 0.1s linear, color 0.1s linear,
    border 0.1s linear, outline 0.1s linear;
}

.button--primary {
    background-color: $button-theme-blue-default;
    color: $button-theme-blue-highlight;
    &:hover {
        background-color: $button-theme-blue-hover;
    }
}

.button--secondary {
    border: 2px solid;
    border-color: $button-theme-blue-default;
    color: $button-theme-blue-default;
    &:hover {
        border-color: $button-theme-blue-hover;
        color: $button-theme-blue-hover;
    }
}

.button--tertiary {
    color: $button-theme-blue-default;
    padding: 0;
    &:hover {
        color: $button-theme-blue-hover;
    }
}