@import 'colors.scss';

.button {
    font-size: 16px;
    padding: 10px 60px;
    border: 2px solid $color-green;
    background-color: $color-gray;
    margin: 10px 0px;
    cursor: pointer;
    transition: background-color 0.1s linear, color 0.1s linear,
    border 0.1s linear, outline 0.1s linear;
}

.button--primary {
    border: 2px solid transparent;  
    &:hover {
        border-color: $color-green;
    }
}

.button--secondary {
    background: none;
    &:hover {
        background: $color-gray;
    }
}

.button--tertiary {
    border: 2px solid transparent;
    background: none;
    &:hover {
        border-bottom: 2px solid $color-green;
    }
}